.ContactBlock {
    height: 100vh;
    background-color: #9cd28c;
    text-align: center;
}
.text {
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form_wrapper {
    width: 300px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.form_line {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.form_line > label {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.form_line > input {
    flex: 2;
padding: 8px;
}


.form_line > button {
    background: #808080;
    color: #fff;
    border: 5px;
    padding: 8px;
}
