@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contactBlock {

  .title {
    display: flex;
  }

  .form_wrapper {
    width: 280px;
    margin: 30px auto;
    background-color: $bgSecondColor;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid $primaryColor;

    ul {
      list-style-type: none;

      .form_line {
        display: flex;
        justify-content: flex-end;
        padding: 8px;
        color: $textColor;
      }

      .form_line input {
        border: 1px solid $primaryColor;
      }

      .form_line textarea {
        border: 1px solid $primaryColor;
      }

      .form_line > label {
        padding: 8px 16px 8px 0;
        flex: 1;
      }

      .form_line > input {
        flex: 2;
        padding: 8px;
      }

      .form_line > button {
        @include btnSetting();
        padding: 8px;
      }
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




