.title {
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    font-weight: 300;
    color: #666;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title h2 {
    margin: 0;
}

.title::after {
    content: "";
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

