@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.burgerNav {
  width: 250px;
  @include flex(column, space-between, stretch, nowrap);
  margin: auto 70px;

  .burgerNavItems {

  }

  a {
    color: $textColor;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $bgSecondColor;
    }
  }

  .active {
    color: $bgSecondColor;
  }
  @media screen and (min-width: 601px) {
    display: none;
  }
}


