.worksBlock {
    /*height: 100vh;*/
    background-color: #fff;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}