.worksBlock {
    /*height: 100vh;*/
    background-color: #fff;
}
.worksContainer{
    flex-direction:column ;
    justify-content: flex-start;
}

.title {
    background-color: #d9d9e5;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #666;
}

.works {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}