.skillsBlock {
    /*min-height: 100vh;*/
    background-color: #fff;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #d9d9e5;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}