.skillsBlock {
    min-height: 100vh;
    background-color: #ddecbd;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f3ecec;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}