@import '../common/styles/sass/variables';


.mainBlock {
  //height: 100vh;
  background-color: $bgColor;

  .hiText {
    //border: 2px solid $primaryColor;
    width: 300px;
    color: $textColor;
    //background-color: $primaryColor;
    margin: 30px auto;
    border-radius: 5px;
  }

  .photo {
    border: 3px solid $primaryColor;
    //background-color: $bgSecondColor;
    width: 250px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
  }
}




