.mainBlock {
    height: 100vh;
    background-color: #fff;
}

.hiText {
    border: 1px dashed green;
    background-color: #d9d9e5;
    width: 300px;
}

.photo {
    border: 3px dashed green;
    background-color: #d9d9e5;
    width: 300px;
    height: 400px;
}
