@import '../common/styles/sass/variables';

.mainBlock {
  //height: 100vh;
  background-color: $bgColor;

  .hiText {
    border: 2px solid $primaryColor;
    width: 300px;
    color: $textColor;
    //background-color: $primaryColor;
    margin: 30px auto;
    border-radius: 5px;
  }

  .photo {
    border: 1px dashed $primaryColor;
    background-color: $bgSecondColor;
    width: 300px;
    height: 400px;
  }
}




