@import '../common/styles/sass/variables';

.mainBlock {
  //height: 100vh;
  background-color: $bgColor;

  .hiText {
    width: 300px;
    color: $textColor;
    margin: 100px auto 30px;
    border-radius: 5px;
  }

  .photo {
    border: 3px solid $primaryColor;
    margin: 100px auto 30px;
    width: 250px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
  }
}




