@import '../common/styles/sass/variables.scss';

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: $textColor;
  font-weight: 600
}

