@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footerBlock {
  background-color: $bgColor;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    color: $textColor;

    .footers {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .footerIcon {
        margin-top: 10px;
        width: 35px;
        height: 35px;
        border: 4px solid $primaryColor;
        @include bgImg();
        border-radius: 50%;
      }
    }
    .copyright {
      margin-top: 15px;
    }
  }
}









