.footerBlock {
    height: 100vh;
    background-color: #eedea1;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f3ecec;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}